#topBar {
    position: sticky;
    height: 5.5vh;
    background: #222;
    border-bottom: 1px solid #141415;
    color: #efefef;
    display: flex;
    z-index: 10;
}

#topBar * {
    margin: auto 0;
}

#topBar span {
    align-self: flex-start;
    text-align: left;
    display: inline-block;
    padding-left: 15px;
    width: 14vw;
}

#topBarUserContainer {
    align-self: flex-end;
    position: absolute;
    right: 0;
    height: 100%;
    background: transparent;
    cursor: pointer;
    padding-right: 15px;
    transition: background 0.3s;
}

#topBarUserContainer .user {
    margin-top: 1.25vh;
}

#topBarUserContainer:hover {
    background: rgba(0,0,0,0.5);
}

.navLink {
    transition: 0.3s;
    text-decoration: none;
    color: white;
    display: inline-block;
    height: calc(100% - 15px);
    margin: auto;
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: 1px solid transparent;
    padding-right: 15px;
}

.navLink:not(.active):hover {
    background: rgba(0,0,0,0.25);
    border-bottom-color: black;
    transition: 0.3s;
   color: #1ed760;
}

.navLink.active{
    border-bottom-color: #1ed760;
}
.navLink div {
    display: inline;
    bottom: 6px;
    position: relative;
    padding-left: 5px;
}